<header class="bg-gray-900 px-10 py-6">
  <h2 class="text-white font-bold text-2xl">PRIMENG TABLE</h2>
</header>
<main class="p-4">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Frame 1">
      <p-table [value]="users" dataKey="id">
        <ng-template pTemplate="header">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
          <tr>
            <td>{{user.id}}</td> <!-- Columna comun que no se puede editar -->
            <td pEditableColumn>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input class="w-full" pInputText type="text" [(ngModel)]="user.name" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{user.name}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td pEditableColumn>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input class="w-full" pInputText type="email" [(ngModel)]="user.email" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{user.email}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td pEditableColumn>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <p-dropdown styleClass="w-full" [options]="roles" [(ngModel)]="user.role" placeholder="Select a role"></p-dropdown>
                </ng-template>
                <ng-template pTemplate="output">
                  {{user.role}}
                </ng-template>
              </p-cellEditor>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </mat-tab>
    <mat-tab label="Frame 2">
      <p-table [value]="users" dataKey="id">
        <ng-template pTemplate="header">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
          <tr>
            <td>{{user.id}}</td> <!-- Columna comun que no se puede editar -->
            <td pEditableColumn>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input class="w-full" pInputText type="text" [(ngModel)]="user.name" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{user.name}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td pEditableColumn>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input class="w-full" pInputText type="email" [(ngModel)]="user.email" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{user.email}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td pEditableColumn>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <p-dropdown styleClass="w-full" [options]="roles" [(ngModel)]="user.role" placeholder="Select a role"></p-dropdown>
                </ng-template>
                <ng-template pTemplate="output">
                  {{user.role}}
                </ng-template>
              </p-cellEditor>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </mat-tab>
    <mat-tab label="Frame 3">
      <p-table [value]="users" dataKey="id">
        <ng-template pTemplate="header">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
          <tr>
            <td>{{user.id}}</td> <!-- Columna comun que no se puede editar -->
            <td pEditableColumn>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input class="w-full" pInputText type="text" [(ngModel)]="user.name" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{user.name}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td pEditableColumn>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input class="w-full" pInputText type="email" [(ngModel)]="user.email" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{user.email}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td pEditableColumn>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <p-dropdown styleClass="w-full" [options]="roles" [(ngModel)]="user.role" placeholder="Select a role"></p-dropdown>
                </ng-template>
                <ng-template pTemplate="output">
                  {{user.role}}
                </ng-template>
              </p-cellEditor>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </mat-tab>
  </mat-tab-group>
</main>
